# Swagger
SWAGGER_APP_TITLE=World Cup Core Service
SWAGGER_APP_DESCRIPTION=World Cup Core API
SWAGGER_APP_VERSION=1.0.0
SWAGGER_BASE_PATH=
# Options: classic | dark
SWAGGER_THEME=dark

# App
APP_PORT=4101
APP_BASE_PATH=worldCupCore
APP_LOG_LEVEL=log

# WorldCup API endpoint
# Expected WorldCup API URL: http://localhost:5101/worldCup/
WORLD_CUP_API_URL=http://localhost:5101
WORLD_CUP_API_BASE_PATH=/worldCup

# Frontend origin allowed by CORS
CORS_ALLOWED_ORIGIN=http://localhost:3101

# Initial selected team for My Team features
TEAM_ID=fra

# Default app language
APP_LANG=en
